:root {
  --main-bg-color: #75C7ef;
  --main-text-color: #ffffff;
}

.App {
  background: var(--main-bg-color);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.web-nav {
  display: flex;
  width: 100vw;
  background: var(--main-text-color);
  border: 2px solid black;
  height: 5vh;
}