:root {
    --main-bg-color: #75C7ef;
    --main-text-color: #ffffff;
    --alt-bg-color: #ffd25e;
}

.home-box {
    display: flex;
    align-items: center;
    height: 90vh;
}

.home-header-box {
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 20vw;
    margin-top: -15vh;
}

.home-header-text1 {
    font-size: 4vw;
    color: var(--main-text-color);
    font-weight: 100;
    position: absolute;
    margin-top: -1em;
}

.home-header-text2 {
    font-size: 10vw;
    color: var(--main-text-color);
    position: absolute;
}

.home-header-img{
    height: 5vw;
    width: 5vw;
    margin-top: -10vh;
}

.login-form-box {
    margin-left: 33vw;
    margin-top: -15vh;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.username-label {
    font-size: 1.5vw;
    color: var(--main-text-color);
    font-weight: 50;
}

.username-input {
    width: 20vw;
    height: 3vh;
    border-radius: 0.25vw;
}
.password-label {
    font-size: 1.5vw;
    font-weight: 50;
    color: var(--main-text-color);
}

.password-input {
    width: 20vw;
    height: 3vh;
    border-radius: 0.25vw;
}

.login-btn {
    background: var(--alt-bg-color);
    color: var(--main-text-color);
    height: 5vh;
    margin-top: 2vh;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 0.25vw;
}

.grass-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5vh;
}

.grass-footer-img {
    margin-top: -60vh;
    height: 100vh;
    width: 100vw;
}